.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build products
DerivedData/
build/

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
